<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Group 5 - Jacob Celestine, Harsh Patel, Pulak Raj" />
  <meta name="description" content="Using Deep Learning to predict the taxi fare, and build a dashboard for showing
  the implementation using Flask." />

  <title>Deep Learning Dashboard - Chicago Taxi Data</title>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- Main JS File -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.png" alt="" class="img-fluid rounded-circle">

        <h1 class="text-light"><a href="#">Group 5</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://keras.io/"
             target="_blank" rel="noopener noreferrer" class="facebook">
            <span class="iconify" data-icon="simple-icons:keras"></span>
          </a>
          <a href="https://www.tensorflow.org/"
             target="_blank" rel="noopener noreferrer" class="instagram">
            <span class="iconify" data-icon="simple-icons:tensorflow"></span>
          </a>
          <a href="https://en.wikipedia.org/wiki/Neural_network"
             target="_blank" rel="noopener noreferrer" class="google-plus">
            <span class="iconify" data-icon="eos-icons:neural-network"></span>
          </a>
          <a href="https://en.wikipedia.org/wiki/Deep_learning"
             target="_blank" rel="noopener noreferrer" class="linkedin">
            <span class="iconify" data-icon="carbon:machine-learning-model"></span>
          </a>
          <a href="https://data.cityofchicago.org/Transportation/Taxi-Trips/wrvz-psew/"
             target="_blank" rel="noopener noreferrer" class="twitter">
            <span class="iconify" data-icon="bi:info-lg"></span>
          </a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active">
              <span class="iconify" data-icon="ant-design:home-outlined" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Home</span>
            </a>
          </li>
          <li>
            <a href="#architecture" class="nav-link scrollto">
              <span class="iconify" data-icon="ic:round-architecture" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Architecture</span>
            </a>
          </li>
          <li>
            <a href="#tuning" class="nav-link scrollto">
              <span class="iconify" data-icon="mdi:tune-variant" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Tuning the model</span>
            </a>
          </li>
          <li>
            <a href="#accuracy" class="nav-link scrollto">
              <span class="iconify" data-icon="bi:graph-up" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Predicted vs Expected</span>
            </a>
          </li>
          <li>
            <a href="#demo" class="nav-link scrollto">
              <span class="iconify" data-icon="ic:baseline-online-prediction" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Demo</span>
            </a>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Taxi Fare Prediction</h1>
      <p>using <span class="typed" data-typed-items="Deep Learning, Neural Networks, Machine Learning"></span></p>
    </div>
  </section>
  <!-- End Home -->

  <main id="main">
    <!-- ======= Architecture Section ======= -->
    <section id="architecture" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Architecture</h2>
          <p>The number of input units in the network is defined by the number of data channels (number of input vectors)
            while the number of output units is fixed to one. The user may define both the number of hidden layers as
            well as the number of hidden units per layer. The context units are fixed, as each hidden unit has an
            associated context unit. The network is updated through backpropagation through time (BPTT) with a maximum
            memory defined by the user to conserve computational resources.<br>The user may also define other parameters
            such as the iterations per training sample, learning rate, and others in Main. This program works for both
            recurrent and non-recurrent networks, and any number of different neural network architectures can be tested
            at once. The program is automatically formatted for parallel processing across computer cores.</p>
        </div>

        <div class="row">
          <img src="static/img/architecture.png" class="img-fluid" alt="Architecture">
        </div>

      </div>
    </section>
    <!-- End Architecture Section -->

    <!-- ======= Tuning Section ======= -->
    <section id="tuning" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Tuning the Model</h2>
          <p>In the abstract sense of machine learning, tuning is working with / "learning from" variable data based
            on some parameters which have been identified to affect system performance as evaluated by some appropriate
            metric. Improved performance reveals which parameter settings are more favorable (tuned) or less favorable
            (untuned).<br>Translating this into common sense, tuning is essentially selecting the best parameters for an
            algorithm to optimize its performance given a working environment such as hardware, specific workloads, etc.
            And tuning in machine learning is an automated process for doing this.<br>For example, there is no such
            thing as a "perfect set" of optimizations for all deployments of an Apache web server. A sysadmin learns
            from the data "on the job" so to speak and optimizes their own Apache web server configuration as
            appropriate for its specific environment. Now imagine an automated process for doing this same thing,
            i.e., a system that can learn from data on its own, which is the definition of machine learning. A system
            that tunes its own parameters in such a data-based fashion would be an instance of tuning in machine
            learning.</p>
        </div>

      </div>
    </section>
    <!-- End Tuning Section -->

    <!-- ======= Accuracy Section ======= -->
    <section id="accuracy" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Accuracy</h2>
          <p>Here we have a scatter plot showing the relationship between expected and predicted value</p>
        </div>

        <div class="row">
          <center>
<!--class="img-fluid"-->
            <img src="static/img/p_vs_e.png" style="max-width:50%;height:400" alt="Predicted vs Expected Graph">
          </center>
        </div>

      </div>
    </section>
    <!-- End Accuracy Section -->

    <!-- ======= Demo Section ======= -->
    <section id="demo" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Demo</h2>
          <center>
            <p>Curious what your taxi price would have been? No problem!<br>
              Enter the following details, and we will predict it for you!</p>
          </center>
          <br>
          <form class="row gy-2 gx-3 align-items-center" id="predictionForm" action="/prediction" method="GET">
            <div class="row justify-content-center">
              <div class="col-auto">
                <label class="visually-hidden" for="distance">Distance (Miles)</label>
                <input type="number" class="form-control" id="distance" name="distance" placeholder="Distance (Miles)">
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="seconds">Time Taken (Seconds)</label>
                <input type="number" class="form-control" id="seconds" name="seconds" placeholder="Time Taken (Seconds)">
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="month">Month</label>
                <select class="form-select" id="month" name="month">
                  <option value="" disabled selected>Which Month?</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value=11>November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="submitButton" value="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End Demo Section -->

    <!-- Results Section -->
    <center>
      <section id="results" class="tm-section-pad-top">
        <canvas id="fare_chart" width="100%" height="40"></canvas>
      </section>
    </center>
    <!-- End Results Section -->

    <br><br><br><br><br><br><br><br><br><br><br><br>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>@ Group 5</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

  <!-- Handle Form -->
  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" crossorigin="anonymous"></script>
  <script>
  var fare_chart;
  $(document).ready(function() {
      $('#predictionForm').on('submit', function(event) {
          event.preventDefault();
          var spin = $("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");
          $("#submitButton").empty();
          $("#submitButton").append(spin);
          $('html, body').animate({
              scrollTop: $("#demo").offset().top
          }, 300);
          if(fare_chart) { fare_chart.destroy() }

          $.ajax({
              type: 'get',
              url: '/prediction',
              data: $('#predictionForm').serialize(),
              success: function(q) {
                  $("#submitButton").empty();
                  $("#submitButton").text("Submit");
                  $('html, body').animate({
                      scrollTop: $("#results").offset().top
                  }, 300);

                  var fare_ctx = document.getElementById("fare_chart");
                  fare_chart = new Chart(fare_ctx, {
                      type: 'bar',
                      data: {
                          labels: [{% for item in labels %}
                                  "{{item}}",
                                  {% endfor %}],
                          datasets: [{
                              label: 'Taxi Fare',
                              data: [{% for item in values0 %}
                                   {{item}},
                                   {% endfor %}],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(54, 162, 235, 0.2)',
                                  'rgba(255, 206, 86, 0.2)',
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(153, 102, 255, 0.2)',
                                  'rgba(255, 159, 64, 0.2)',
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(54, 162, 235, 0.2)',
                                  'rgba(255, 206, 86, 0.2)',
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(153, 102, 255, 0.2)'
                              ],
                              borderColor: [
                                  'rgba(255,99,132,1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)',
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          indexAxis: 'x',
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
                  fare_chart.data.labels = q.labels;
                  fare_chart.data.datasets[0].data = q.values;
                  fare_chart.update();
              }
          });
      });
  });
  </script>

</body>

</html>