<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Group 5 - Jacob Celestine, Harsh Patel, Pulak Raj" />
  <meta name="description" content="Using Deep Learning to predict the taxi fare, and build a dashboard for showing
  the implementation using Flask." />

  <title>Deep Learning Dashboard - Chicago Taxi Data</title>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- Main JS File -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.png" alt="" class="img-fluid rounded-circle">

        <h1 class="text-light"><a href="#">Group 5</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://keras.io/"
             target="_blank" rel="noopener noreferrer" class="facebook">
            <span class="iconify" data-icon="simple-icons:keras"></span>
          </a>
          <a href="https://www.tensorflow.org/"
             target="_blank" rel="noopener noreferrer" class="instagram">
            <span class="iconify" data-icon="simple-icons:tensorflow"></span>
          </a>
          <a href="https://en.wikipedia.org/wiki/Neural_network"
             target="_blank" rel="noopener noreferrer" class="google-plus">
            <span class="iconify" data-icon="eos-icons:neural-network"></span>
          </a>
          <a href="https://en.wikipedia.org/wiki/Deep_learning"
             target="_blank" rel="noopener noreferrer" class="linkedin">
            <span class="iconify" data-icon="carbon:machine-learning-model"></span>
          </a>
          <a href="https://data.cityofchicago.org/Transportation/Taxi-Trips/wrvz-psew/"
             target="_blank" rel="noopener noreferrer" class="twitter">
            <span class="iconify" data-icon="bi:info-lg"></span>
          </a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active">
              <span class="iconify" data-icon="ant-design:home-outlined" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Home</span>
            </a>
          </li>
          <li>
            <a href="#architecture" class="nav-link scrollto">
              <span class="iconify" data-icon="ic:round-architecture" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Architecture</span>
            </a>
          </li>
          <li>
            <a href="#tuning" class="nav-link scrollto">
              <span class="iconify" data-icon="mdi:tune-variant" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Tuning the Model</span>
            </a>
          </li>
          <li>
            <a href="#accuracy" class="nav-link scrollto">
              <span class="iconify" data-icon="bi:graph-up" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Evaluating the Model</span>
            </a>
          </li>
          <li>
            <a href="#deployment" class="nav-link scrollto">
              <span class="iconify" data-icon="bi:graph-up" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Deploying the Model</span>
            </a>
          </li>
          <li>
            <a href="#demo" class="nav-link scrollto">
              <span class="iconify" data-icon="ic:baseline-online-prediction" data-width="24" data-height="24"></span>
              <span>&nbsp;&nbsp;Demo</span>
            </a>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Taxi Fare Prediction</h1>
      <p>using <span class="typed" data-typed-items="Deep Learning, Neural Networks, Machine Learning"></span></p>
    </div>
  </section>
  <!-- End Home -->

  <main id="main">
    <!-- ======= Architecture Section ======= -->
    <section id="architecture" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Architecture</h2>
          <p>&nbsp;&nbsp;We found few patterns over different years that proved to be very interesting. One interesting
            thing is the time travelled and total miles across the years. 2016 seems to have the most travelling while
            2020 and 2021 have the least. 2021 is not finished yet and 2020 had almost everyone indoors due to COVID.
            One interesting thing to note is that the reason taxi use has been steadily declining since 2016 could be
            due to the installation of the Red line extension to the Chicago "L" rapid transit system in 2016. This
            means that many more people could take the train instead of using taxis. We also found that taxi use spikes
            during holiday times like December since a lot of people are likely coming to populated cities like Chicago.
          </p><br>
          <p>&nbsp;&nbsp;After looking at various patterns in the data, we decided that <i>'Trip Seconds', 'Trip Miles'
            and 'Month'</i> would be useful for predicting the fare for a given year. As aforementioned, months account
            for seasonal spikes and dips in taxi usage. Trip seconds and trip miles are obvious additions, but we
            included both because even though two trips may be 5 minutes long, one may be taking local roads to a close
            location while the other may be taking a highway and be very far away. Therefore, there was not a clear
            correlation between the two rates. There are a few hyperparameters we needed to decide on when creating the
            model:
          </p>
            <ol>
              <li>Loss metric</li>
              <li>Number of hidden layers</li>
              <li>Number of nodes in the input and hidden layers</li>
            </ol>
          <p>&nbsp;&nbsp;Since the training of these massive datasets takes a very long time, we tested these parameters
            on a small chunk of data. By extracting just 100000 rows from the data, we were able to create multiple
            quick models that could be used to evaluate what the best parameters would be for a model using all the
            data. We decided to use the following architectures to create 12 possible candidate models:
          </p>
            <ol>
              <li>The different levels for number of hidden layers would be <i>1, 2, and 3.</i></li>
              <li>There are two loss metrics we considered: <i>Mean Absolute Error, and Mean Squared Error.</i></li>
              <li>Lastly, we considered two options for number of nodes: <i>16 nodes in input, 32 nodes in hidden layers
                or 32 nodes in input, 64 nodes in hidden layers.</i></li>
            </ol>
        </div>

      </div>
    </section>
    <!-- End Architecture Section -->

    <!-- ======= Tuning Section ======= -->
    <section id="tuning" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Tuning the Model</h2>
          <p>The performance of the models are as follows:</p><br>
          <div class="row">
            <div class="column">
              <center><img src="static/img/16_32.jpg" alt="MAE vs MSE for 16-32"></center>
            </div>
            <div class="column">
              <center><img src="static/img/32_64.jpg" alt="MAE vs MSE for 32-64"></center>
            </div>
          </div><br>
          <p>There are 12 total models and the above tables divide the models by the number of nodes in the input and
            hidden layers. Surprisingly, the performance between the models with more nodes and fewer nodes were very
            comparable and overall, the model with fewer nodes performed better than the model with more nodes. This is
            likely due to over fitting due to too many nodes. Another interesting thing to note was that overall the
            models with 3 hidden layers performed the worst out of the three hidden layer possibilities. Additionally,
            although the models that optimize MSE had a lower MSE than the models that optimize MAE, the models with MAE
            had a higher percentage increase in performance in MAE than MSE did in MSE. Therefore, the MAE performed
            relatively superior.</p>
        </div>

      </div>
    </section>
    <!-- End Tuning Section -->

    <!-- ======= Accuracy Section ======= -->
    <section id="accuracy" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Evaluating the Model</h2>
          <p>The model with the best performance is the model with fewer nodes, loss metric of MAE and 2 hidden layers.
            After looking at the data, this result actually makes a lot of sense. For the node count and hidden layer
            count, it is probably simply a matter of over fitting or under fitting the model and that combination seems
            to be just right with a mean absolute error of 1.329 and a mean squared error of 354.460. However, for the
            loss metric the advantage lies in the nature of the loss metric itself. Since MSE is squared, the model is
            punished for making larger mistakes. When a very large number is squared then the error increases by a lot
            and this is likely due to outliers in the data. There were some outliers in the data and that is why we
            went with mean absolute error. Mean absolute error is robust to outliers since it is the average of the
            absolute differences between the actual and predicted values. The outliers in our data are thus not
            magnified. The following is a loss graph for the selected model and a graph depicting the predicted values
            vs the actual values for the model:</p><br>
            <div class="row">
              <div class="column">
                <center><img src="static/img/16_32_mae_loss.jpg" alt="Loss Graph for 16-32"></center>
              </div>
              <div class="column">
                <center><img src="static/img/16_32_scatter_plot.png" alt="Scatter plot for 16-32"></center>
              </div>
            </div>
        </div>

      </div>
    </section>
    <!-- End Accuracy Section -->

    <!-- ======= Accuracy Section ======= -->
    <section id="deployment" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Deploying the Model</h2>
          <p>Once the models were completed, Flask was used to deploy it. Flask is a micro web framework written in
            Python. It is classified as a microframework because it does not require particular tools or libraries. It
            has no database abstraction layer, form validation, or any other components where pre-existing third-party
            libraries provide common functions. Since Flask is python based it enabled using Keras for reading,
            loading, and executing the model as expected. The flow of deployment is as shown below:</p><br>
            <div class="row">
              <center><img src="static/img/deployment.png" alt="Deployment"></center>
            </div>
          <br>
          <p>The WSGI application (Flask app) acts as the gateway interface, and Nginx is used as the web server. The
            setup is designed to handle multiple requests concurrently. Once a request comes in flask process the
            endpoint and returns the result back to the user. If the request for prediction is raised, it passes the
            parameters into the model and responds back with the result.</p>
        </div>

      </div>
    </section>

    <!-- ======= Demo Section ======= -->
    <section id="demo" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Demo</h2>
          <center>
            <p>Curious what your taxi price would have been? No problem!<br>
              Enter the following details, and we will predict it for you!</p>
          </center>
          <br>
          <form class="row gy-2 gx-3 align-items-center" id="predictionForm" action="/prediction" method="GET">
            <div class="row justify-content-center">
              <div class="col-auto">
                <label class="visually-hidden" for="distance">Distance (Miles)</label>
                <input type="number" step="0.01" class="form-control" id="distance" name="distance" placeholder="Distance (Miles)">
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="seconds">Time Taken (Seconds)</label>
                <input type="number" step="0.01" class="form-control" id="seconds" name="seconds" placeholder="Time Taken (Seconds)">
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="month">Month</label>
                <select class="form-select" id="month" name="month">
                  <option value="" disabled selected>Which Month?</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value=11>November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="submitButton" value="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End Demo Section -->

    <!-- Results Section -->
    <center>
      <section id="results" class="tm-section-pad-top">
        <div class="row">
          <div class="column">
            &nbsp;&nbsp;
            <center><canvas id="fare_chart" width="100%" height="40"></canvas></center>
          </div>
          <div class="column">
            <table id="fare_chart_table" border='1'>
              <tr>
              </tr>
            </table>
          </div>
        </div>

      </section>
    </center>
    <!-- End Results Section -->

    <br><br><br><br><br><br><br><br><br><br>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>@ Group 5</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

  <!-- Handle Form -->
  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" crossorigin="anonymous"></script>
  <script>
  var fare_chart;
  $(document).ready(function() {
      $('#predictionForm').on('submit', function(event) {
          event.preventDefault();
          var spin = $("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");
          $("#submitButton").empty();
          $("#submitButton").append(spin);
          $('html, body').animate({
              scrollTop: $("#demo").offset().top
          }, 300);
          if(fare_chart) { fare_chart.destroy() }

          $.ajax({
              type: 'get',
              url: '/prediction',
              data: $('#predictionForm').serialize(),
              success: function(q) {
                  $("#submitButton").empty();
                  $("#submitButton").text("Submit");
                  $('html, body').animate({
                      scrollTop: $("#results").offset().top
                  }, 300);

                  $("#fare_chart_table").empty();
                  var i;
                  var html = '';
                  $('<tr>').append($('<th>').text("Year"), $('<th>').text("Fare (in USD)")).appendTo('#fare_chart_table');
                  for (i = 0; i < q.values.length; i++) {
                     $('<tr>').append(
                        $('<td>').text(q.labels[i]),
                        $('<td>').text(q.values[i])
                     ).appendTo('#fare_chart_table');
                  }

                  var fare_ctx = document.getElementById("fare_chart");
                  fare_chart = new Chart(fare_ctx, {
                      type: 'bar',
                      data: {
                          labels: [{% for item in labels %}
                                  "{{item}}",
                                  {% endfor %}],
                          datasets: [{
                              label: 'Taxi Fare',
                              data: [{% for item in values0 %}
                                   {{item}},
                                   {% endfor %}],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(54, 162, 235, 0.2)',
                                  'rgba(255, 206, 86, 0.2)',
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(153, 102, 255, 0.2)',
                                  'rgba(255, 159, 64, 0.2)',
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(54, 162, 235, 0.2)',
                                  'rgba(255, 206, 86, 0.2)',
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(153, 102, 255, 0.2)'
                              ],
                              borderColor: [
                                  'rgba(255,99,132,1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)',
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          indexAxis: 'x',
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
                  fare_chart.data.labels = q.labels;
                  fare_chart.data.datasets[0].data = q.values;
                  fare_chart.update();
              }
          });
      });
  });
  </script>

</body>

</html>